{% extends 'admin-base.html.twig' %}

{% block title %}
    {{ parent() }}
    Tableau de bord
{% endblock %}

{% block body %}
    <main class="container">
        {{ include('_components/_button.html.twig', {link: '/',label: 'Retour au site',icon: 'house-fill'}) }}
        {#        {{ include('_components/Organism/form/_form_address.html.twig', {save: true, edit: true, delete: true}) }} #}
        {#        {{ include('_components/Organism/form/_form_bed.html.twig', {save: true, edit: true, delete: true}) }} #}
        {#        {{ include('_components/Organism/form/_form_lodging.html.twig', {save: true, edit: true, delete: true}) }} #}
        {#        {{ include('_components/Organism/form/_form_media.html.twig', {save: true, edit: true, delete: true}) }} #}
        {#        {{ include('_components/Organism/form/_form_message.html.twig', {save: true, edit: true, delete: true}) }} #}
        {#        {{ include('_components/Organism/form/_form_reservation.html.twig', {save: true, edit: true, delete: true}) }} #}
        {{ include('_components/Organism/form/_form_review.html.twig', {save: true, edit: true, delete: true}) }}
    </main>
{% endblock %}
