{% set object = form.vars.value %}
{% set buttons = [
    archive is defined ? include('_components/Atom/_button.html.twig', {routeName: archiveRoute, confirmMsg: archiveConfirmMsg, colorClass: 'warning', label: 'Archive', icon: 'floppy-fill'}) : '',
    confirm is defined ? include('_components/Atom/_button.html.twig', {routeName: confirmRoute, confirmMsg: confirmConfirmMsg, colorClass: 'success', label: 'Confirm', icon: 'check-all'}) : '',
    setAsPaid is defined ? include('_components/Atom/_button.html.twig', {routeName: setAsPaidRoute, confirmMsg: setAsPaidConfirmMsg, colorClass: 'outline-success', label: 'Set as paid', icon: 'check-all'}) : '',
    save is defined ? include('_components/Atom/_button.html.twig', {type: 'submit', label: 'Save', icon: 'floppy-fill'}) : '',
    reply is defined ? include('_components/Atom/_button.html.twig', {type: 'submit', label: replyLabel|default('Reply'), icon: 'send-fill'}) : '',
] %}
{% set deleteButton = delete ? include('_components/Atom/_deleteButton.html.twig', {label: 'Delete', icon: 'trash-fill', colorClass: 'danger', confirmMsg: deleteConfirmMsg}) : '' %}

<section class="row">
    <div class="row sticky-top pt-3 pb-5 bg-light rounded-3 bg-opacity-75">
        <h2 class="text-center col-md-6 p-0 m-0 fs-4 align-self-center">{{ reference|default('Ajouter une reference') }}</h2>
        <div class="d-flex justify-content-end align-items-center col-md-6">
            {{ deleteButton|raw }}
            {{ form_start(form) }}
            {% if buttons is not empty %}
                <div class="d-flex justify-content-center align-items-center">
                    {% for button in buttons %}
                        <div class="mx-2">
                            {{ button|raw }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>

    {% if options is defined %}
        <div class="col-sm-4">
            <div class="row">
                {% for option in options %}
                    <div class="col-6 col-sm-12">
                        {{ option|raw }}
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}


    {% if fields is defined %}
        <div class="{{ options is defined ? 'col-sm-8' : '' }}">
            {% for field in fields %}
                <div class="py-1">
                    {{ field|raw }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
    {{ form_end(form) }}
</section>
