{% extends 'base.html.twig' %}

{% block title %}Bed{% endblock %}

{% block body %}
    <h1>Bed</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ bed.id }}</td>
            </tr>
            <tr>
                <th>Height</th>
                <td>{{ bed.height }}</td>
            </tr>
            <tr>
                <th>Width</th>
                <td>{{ bed.width }}</td>
            </tr>
            <tr>
                <th>IsExtra</th>
                <td>{{ bed.isExtra ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_bed_index') }}">back to list</a>

    <a href="{{ path('app_bed_edit', {'id': bed.id}) }}">edit</a>

    {{ include('bed/_delete_form.html.twig') }}
{% endblock %}
